.header {
    position: fixed;
    z-index: 10;
    background: #ffffff;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    max-height: 86px;
    .header__wrapper {
        display: grid;
        grid-template-columns: 86px 1fr 90px 1fr 86px;
        border-bottom: 1px solid #EBEBEB;
        width: 100%;
        height: 100%;
        max-height: 86px;
        .header__map {
            border-right: 1px solid #EBEBEB;
            cursor: pointer;
            &-img {
                padding: 34px;
            }
        }
        .header__pages {
            display: flex;
            justify-content: space-evenly;
            font-size: 14px;
            font-weight: bold;
            line-height: 85px;
            color: rgba(34, 34, 34, 0.7);
            .active {
                color: #222222;
                border-bottom: 1.5px solid #222222;
                cursor: pointer;
            }
        }
        .header__logo {
            margin: auto;
        }
        .header__phone {
            border-left: 1px solid #EBEBEB;
            cursor: pointer;
            &-img {
                padding: 34px;
            }
        }
    }
}

.main {
    &__header {
        max-width: 1100px;
        padding: 140px 30px 0 30px;
        margin: 0 auto 48px auto;
        font-size: 64px;
        font-weight: bold;
        line-height: 72px;
        text-align: center;
        &-stroke {
            color: #222222;
            -webkit-text-stroke: 1.5px #222222;
            -webkit-text-fill-color: #ffffff;
        }
    }
    &__button {
        max-width: 1100px;
        padding: 0 30px;
        position: relative;
        font-size: 14px;
        font-weight: bold;
        line-height: 40px;
        color: #222222;
        text-align: center;
        border: 1px solid rgba(34, 34, 34, 0.3);
        width: 182px;
        height: 40px;
        display: block;
        margin: 0 auto 84px auto;
        cursor: pointer;
        &::before {
            display: block;
            width: 21px;
            content: '';
            position: absolute;
            border-bottom: 1px solid #4e4e4e;
            top: 50%;
            left: -11px;
        }
    }
    &-container {
        background-image: url('Palladiumlab-test/img/background-main.png')!important;
        background-repeat: no-repeat;
        background-position: 100% 50%;
        background-size: cover;
        height: 344px;
        width: 100%;
        &__wrapper {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            align-content: end;
            height: 100%;
            .main-container__block {
                font-size: 20px;
                font-weight: bold;
                text-align: center;
                color: #ffffff;
                padding: 30px 0;
                border-top: 1px solid rgba(255, 255, 255, 0.3);
                border-right: 1px solid rgba(255, 255, 255, 0.3);
                border-bottom: 1px solid rgba(255, 255, 255, 0.3);
                cursor: pointer;
                &:nth-child(4) {
                    border-right: 0px;
                }
            }
            .main-container__down {
                grid-column: 1/5;
                margin: 23px auto;
            }
        }
    }
}

.example {
    max-width: 1100px;
    padding: 136px 30px 0 30px;
    margin: 0 auto;
    &__header {
        position: relative;
        font-size: 32px;
        font-weight: bold;
        color: #222222;
        margin-bottom: 48px;
        &::before {
            display: block;
            width: 40px;
            content: '';
            position: absolute;
            border-bottom: 1px solid #4e4e4e;
            top: 50%;
            left: -80px;
        }
        &-stroke {
            color: #222222;
            -webkit-text-stroke: 0.5px #222222;
            -webkit-text-fill-color: #ffffff;
        }
    }
    &-grid__wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        margin-bottom: 64px;
        .example-grid {
            position: relative;
            &:nth-child(1) {
                grid-column: 1/3;
                grid-row: 1/2;
            }
            &:nth-child(2) {
                grid-row: 1/3;
            }
            &:nth-child(5) {
                grid-row: 3/5;
            }
            &:nth-child(8) {
                grid-column: 2/4;
            }
            .example-grid__name {
                position: absolute;
                top: 32px;
                left: 32px;
                font-size: 20px;
                font-weight: bold;
                color: #ffffff;
            }
        }
    }
    &__button {
        position: relative;
        font-size: 14px;
        font-weight: bold;
        line-height: 40px;
        color: #222222;
        text-align: center;
        border: 1px solid rgba(34, 34, 34, 0.3);
        width: 182px;
        height: 40px;
        display: block;
        margin: 0 auto 60px auto;
        cursor: pointer;
        &::before {
            display: block;
            width: 21px;
            content: '';
            position: absolute;
            border-bottom: 1px solid #4e4e4e;
            top: 50%;
            left: -11px;
        }
    }
}

.contacts {
    &__header {
        position: relative;
        font-size: 32px;
        font-weight: bold;
        color: #222222;
        margin-bottom: 48px;
        &::before {
            display: block;
            width: 40px;
            content: '';
            position: absolute;
            border-bottom: 1px solid #4e4e4e;
            top: 50%;
            left: -80px;
        }
        &-stroke {
            color: #222222;
            -webkit-text-stroke: 0.5px #222222;
            -webkit-text-fill-color: #ffffff;
        }
    }
    &-grid__wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        .contacts-grid {
            &__contant {
                font-size: 13px;
                line-height: 15px;
                margin-bottom: 48px;
                &-bold {
                    font-size: 14px;
                    font-weight: bold;
                    line-height: 10px;
                }
                .contacts-grid__social {
                    display: flex;
                    flex-wrap: nowrap;
                    &-block {
                        background: #222222;
                        width: 30px;
                        height: 30px;
                        border-radius: 2px;
                        margin-right: 10px;
                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
                .contacts-grid__form {
                    width: 100%;
                    margin-top: -15px;
                    .form__group {
                        position: relative;
                        padding: 15px 0 0 0;
                        width: 100%;
                    }
                    .form__field {
                        width: 100%;
                        border: 0;
                        border-bottom: 1px solid #EBEBEB;
                        outline: 0;
                        font-size: 16px;
                        color: #222222;
                        padding: 7px 0;
                        margin: 10px 0;
                        background: transparent;
                        transition: border-color 0.2s;
                        &::placeholder {
                            color: transparent;
                        }
                        &:placeholder-shown ~ {
                            .form__label {
                                font-size: 16px;
                                cursor: text;
                                top: 20px;
                            }
                        }
                        &:focus {
                            ~ .form__label {
                            position: absolute;
                            top: 0;
                            display: block;
                            transition: 0.2s;
                            font-size: 13px;
                            color: #222222;  
                            }
                        }
                        &:required,&:invalid { box-shadow:none; }
                    }
                    .form__label {
                      position: absolute;
                      top: 0;
                      display: block;
                      transition: 0.2s;
                      font-size: 16px;
                      color: #909090;
                    }
                    .contacts-grid__input {
                        width: 100%;
                        margin-bottom: 20px;
                    }
                    .contacts-grid__privacy {
                        font-size: 12px;
                        font-weight: 500;
                        color: #909090;
                        margin-top: 18px;
                        margin-bottom: 48px;
                        &-bold {
                            color: #222222;
                            border-bottom: 1.5px dotted #222222;
                        }
                    }
                    .contacts-grid__button {
                        position: relative;
                        font-size: 14px;
                        font-weight: bold;
                        line-height: 40px;
                        color: #222222;
                        text-align: center;
                        border: 1px solid rgba(34, 34, 34, 0.3);
                        width: 260px;
                        height: 40px;
                        display: block;
                        cursor: pointer;
                        &::before {
                            display: block;
                            width: 21px;
                            content: '';
                            position: absolute;
                            border-bottom: 1px solid #4e4e4e;
                            top: 50%;
                            left: -11px;
                        }
                    }
                }
            }
        }
    }
}

.footer {
    &-flex__wrapper {
        display: flex;
        justify-content: space-between;
        .footer-flex {
            margin-top: 25px;
            margin-bottom: 25px;
            &__bold {
                font-weight: bold;
            }
        }
    }
}

@import "vari"